//1.1) Search for:
IDI_METIN2              ICON                    "metin2.ico"
// Add after:

#if defined(ENABLE_BADGE_NOTIFICATION_MANAGER)
// Badge notification icons
IDI_BADGE_1		ICON	"Badges\\badge_1.ico"
IDI_BADGE_2		ICON	"Badges\\badge_2.ico"
IDI_BADGE_3		ICON	"Badges\\badge_3.ico"
IDI_BADGE_4		ICON	"Badges\\badge_4.ico"
IDI_BADGE_5		ICON	"Badges\\badge_5.ico"
IDI_BADGE_6		ICON	"Badges\\badge_6.ico"
IDI_BADGE_7		ICON	"Badges\\badge_7.ico"
IDI_BADGE_8		ICON	"Badges\\badge_8.ico"
IDI_BADGE_9		ICON	"Badges\\badge_9.ico"
IDI_BADGE_10	ICON	"Badges\\badge_limit.ico"
#endif